<!DOCTYPE html>
<html>
  <head>
  	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Foodpoint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<nav>
			<ul>
				<li><a class="navbar-brand pull-left" href="/">Foodpoint</a></li>
				
				<% if user_signed_in? %>
					<li><%= link_to 'Edit Settings', edit_user_registration_path %></li>
					<li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
				<% else %>
				<div class="icons" >
					<li> <%= link_to 'Sign Up ', new_user_registration_path %></li>
					<li><%=link_to 'Log In', new_user_session_path %></li>
				</div>
				<% end %>
			</ul>
		</nav>  
	</div>
	<footer class="container-fluid text-center">
		<p>© FOODPOINT <%= Date.today.year %> All Rights Reserved</p>
		<div class= "social-icons">

			<a href="https://www.instagram.com/sristikashakya/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>  
			<a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>  
			<a href="https://www.facebook.com/sristika.shakya.5" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
		</div>
	</footer>
    <%= yield %>
  </body>
</html>
